/* ======================================================
    Reset
====================================================== */
header,
nav,
footer,
aside,
section,
article,
hgroup,
figure,
figcaption {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, header, nav, footer {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline; }

a {
  margin: 0;
  padding: 0;
  outline: none;
  background: transparent;
  vertical-align: baseline;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, td img, img {
  vertical-align: top; }

input,
select,
button,
textarea {
  margin: 0;
  font-size: 100%;
  font-family: "glober_regularregular", sans-serif; }

input:focus,
select:focus,
textarea:focus {
  outline: none; }

textarea {
  overflow: auto;
  font-family: "glober_regularregular", sans-serif;
  resize: none; }

input[type="text"],
input[type="password"],
textarea {
  padding: 0; }

input[type="checkbox"] {
  vertical-align: top; }

input[type="radio"] {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }